/* style for contact me page */

.contactContainer {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  position: relative;
  display: inline-block;
  margin-bottom: 5em;
}

.contactContainer .contact {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

.contact .me {
  font-family: "Megrim", cursive;
}

.contact a {
  color: black;
}

.contact i {
  padding: 0.1em;
  color: black;
  font-size: 1em;
}

.signatureOne {
  text-align: center;
  color: #0f3057;
  width: 100%;
  bottom: 0;
  position: fixed;
  opacity: 60%;
}

@media only screen and (min-width: 1026px) {
  .contactContainer img {
    width: 34em;
  }

  .contactContainer {
    margin-top: 4%;
    margin-left: 27%;
    margin-right: 27%;
    min-width: 360px;
  }

  .contactContainer .contact {
    width: 70%;
    top: 27%;
  }

  .contact .me {
    font-size: 2.5em;
  }

  .contactContent {
    font-size: 0.95em;
  }
}

@media only screen and (max-width: 1025px) {
  body {
    max-width: 1000px;
  }

  .contactContainer img {
    width: 26em;
  }

  .contactContainer {
    margin-top: 8%;
    margin-left: 27%;
    margin-right: 27%;
  }

  .contactContainer .contact {
    width: 70%;
    top: 27%;
  }

  .contact .me {
    font-size: 1.75em;
  }

  .contactContent {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 550px;
  }

  .contactContainer {
    margin-top: 10%;
  }

  .contactContainer img {
    width: 20em;
  }

  .contactContainer {
    margin-top: 8%;
    margin-left: 27%;
    margin-right: 27%;
  }

  .contactContainer .contact {
    width: 70%;
    top: 27%;
  }

  .contact .me {
    font-size: 1em;
  }

  .contactContent {
    font-size: 0.5em;
  }

  .navLinks {
    margin: 0 auto;
  }

  .logo {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 460px) {
  body {
    max-width: 440px;
  }

  .contactContainer {
    margin-top: 12%;
  }

  .navLinks {
    margin: 0 auto;
  }

  .logo {
    margin: 0 auto;
  }
}
