/* style for contact me page */

.contactContainer {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  position: relative;
  display: inline-block;
  margin-bottom: 5em;
}

.contactContainer .contact {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-left: 3%;
}

.contact h1 {
  font-family: "Megrim", cursive;
  padding: 0.2em;
}

.contact a {
  color: black;
}

.signatureOne {
  text-align: center;
  color: #0f3057;
  width: 100%;
  bottom: 0;
  position: fixed;
  opacity: 60%;
}

.contact i {
  font-size: 1em;
  padding: 0.3em;
  color: black;
}

@media only screen and (min-width: 1026px) {
  .contactContainer img {
    width: 34em;
  }
  .contactContainer {
    margin-top: 6%;
    margin-left: 27%;
    margin-right: 27%;
    min-width: 360px;
  }

  .contactContainer .contact {
    width: 70%;
    top: 27%;
  }
}

@media only screen and (max-width: 1025px) {
  .contactContainer img {
    width: 34em;
  }

  .contactContainer {
    margin-top: 8%;
    margin-left: 27%;
    margin-right: 27%;
  }

  .contactContainer .contact {
    width: 70%;
    top: 27%;
  }
}

@media only screen and (max-width: 600px) {
  .contactContainer {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 460px) {
  .contactContainer {
    margin-top: 12%;
  }

  nav .navLinks {
    margin-left: auto;
  }
}
