/* style for entire site */

.bio,
.contactContainer,
.resumeContainer,
.projectsContainer,
.introPage,
.enter {
  animation: transitionIn 1s;
  margin-top: 4em;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

nav {
  top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

nav .navLinks {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 1px;
  float: right;
  font-family: "Didact Gothic", sans-serif;
  padding-top: 0.5em;
}

.navHaley {
  font-family: "Megrim", cursive;
  font-size: 2.3em;
}

.navLinks a {
  padding-right: 1em;
}

nav a {
  color: black;
}

nav a:hover {
  color: grey;
  text-decoration: none;
}

/* style for intro page */

.introPage {
  background-color: white;
  text-align: center;
}

.enter {
  bottom: 0;
  padding: 1em;
  position: fixed;
  font-size: 1.2em;
  font-weight: medium;
  color: black;
  font-family: "Didact Gothic", sans-serif;
}

.enter i {
  padding: 0.5em;
}
.enter:hover {
  color: grey;
  text-decoration: none;
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 7em;
  color: black;
  margin-top: 2em;
  font-family: "Megrim", cursive;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1.5em;
  width: 100%;
  background-color: #ffffff;
  transform-origin: 0.5 0;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
.signatureTwo {
  text-align: center;
  color: #0f3057;
  width: 100%;
  bottom: 0;
  position: fixed;
  opacity: 60%;
}

.about {
  margin-top: 2.5em;
}

/* style for About Me page */

.bio {
  margin-top: 4em;
  margin-left: 2em;
  margin-right: 2em;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1.2em;
}

.bio h1 {
  text-align: left;
  font-family: "Megrim", cursive;
  padding-bottom: 0.2em;
}

.aboutImages {
  display: block;
  padding: 0.7em;
}

.signatureThree {
  text-align: center;
  color: #0f3057;
  width: 100%;
  padding-top: 0.5em;
  bottom: 0;
  opacity: 60%;
}

/* style for Resume page */

.opener {
  text-align: center;
}

.opener h1 {
  font-family: "Megrim", cursive;
}

.opener a {
  font-family: "Didact Gothic", sans-serif;
  color: black;
  text-decoration: underline;
}

.opener a:hover {
  color: grey;
  text-decoration: none;
}

.paper {
  border: 1px outset rgb(170, 169, 169);
  margin: 1em 15%;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 8px 13px 11px #888888;
  font-family: "Didact Gothic", sans-serif;
}

.resumeHeading {
  text-align: center;
}

.resumeHeading h2 {
  font-size: 2em;
}
h5 {
  text-decoration: underline;
  font-weight: bolder;
}

h6 {
  font-size: 1em;
  font-weight: bolder;
}

.time {
  font-style: italic;
}

.leftSide {
  text-align: center;
}

.signatureFour {
  padding-top: 0.75em;
  text-align: center;
  color: #0f3057;
  width: 100%;
  opacity: 60%;
}

/* style for projects page*/
.projects {
  margin-top: 2.5em;
  text-align: center;
  font-family: "Megrim", cursive;
}

.projectsContainer .row {
  padding: 2em;
}

.projectsContainer .col {
  padding: 1em;
  font-family: "Didact Gothic", sans-serif;
}

.projectsContainer img {
  height: 20em;
}

.card-footer {
  text-align: center;
}
.card-footer a {
  color: black;
  min-width: 5em;
  max-width: 5em;
}

.card:hover {
  transform: scale(1.05);
  transition: all ease-in-out 200ms;
  box-shadow: 0 0 30px #888888;
}
/* style for contact me page */

.contactContainer {
  text-align: center;
  margin-top: 6%;
  margin-left: 27%;
  margin-right: 27%;
  font-family: "Didact Gothic", sans-serif;
  position: relative;
  display: inline-block;
}

.contactContainer .contact {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 27%;
  text-align: center;
  width: 70%;
  padding-left: 3%;
}

.contact h1 {
  font-family: "Megrim", cursive;
  padding: 0.2em;
}

.contact a {
  color: black;
}

.signatureOne {
  text-align: center;
  color: #0f3057;
  width: 100%;
  bottom: 0;
  position: fixed;
  opacity: 60%;
}

.contact i {
  font-size: 1em;
  padding: 0.5em;
  color: black;
}
