/* style for entire site */

.bio,
.contactContainer,
.resumeContainer,
.introPage,
.enter {
  animation: transitionIn 1s;
  margin-top: 100px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

nav {
  top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

nav .navLinks {
  text-decoration: none;
  font-size: 20px;
  font-weight: 1px;
  float: right;
  font-family: "Didact Gothic", sans-serif;
  padding-top: 20px;
}

.navHaley {
  font-family: "Megrim", cursive;
  font-size: 40px;
}

.navLinks a {
  padding-right: 40px;
}

nav a {
  color: black;
}

nav a:hover {
  color: grey;
  text-decoration: none;
}

/* style for intro page */

.introPage {
  background-color: white;
  text-align: center;
}

.enter {
  bottom: 0;
  padding: 20px;
  position: fixed;
  font-size: 20px;
  font-weight: medium;
  color: black;
  font-family: "Didact Gothic", sans-serif;
}

.enter i {
  padding: 10px;
}
.enter:hover {
  color: grey;
  text-decoration: none;
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 7em;
  color: black;
  margin-top: 250px;
  font-family: "Megrim", cursive;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transform-origin: 0.5 0;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
.signatureTwo {
  text-align: center;
  color: #0f3057;
  width: 100%;
  bottom: 0;
  position: fixed;
  opacity: 60%;
}

.about {
  margin-top: 80px;
}

/* style for About Me page */

.bio {
  margin-top: 80px;
  margin-left: 70px;
  margin-right: 70px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 18.5px;
}

.bio h1 {
  text-align: left;
  padding: 25px 0;
  font-family: "Megrim", cursive;
}

.imageContainer {
  padding-top: 20px;
}
.aboutImages {
  display: block;
  padding: 5px;
}

.signatureThree {
  text-align: center;
  color: #0f3057;
  width: 100%;
  padding-top: 15px;
  bottom: 0;
  opacity: 60%;
}

/* style for Resume page */

.opener {
  text-align: center;
}

.opener h1 {
  font-family: "Megrim", cursive;
}

.opener a {
  font-family: "Didact Gothic", sans-serif;
  color: black;
  text-decoration: underline;
}

.opener a:hover {
  color: grey;
  text-decoration: none;
}

.paper {
  border: 1px outset rgb(170, 169, 169);
  margin: 40px 15%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 8px 13px 11px #888888;
  font-family: "Didact Gothic", sans-serif;
}

.resumeHeading {
  text-align: center;
}

.resumeHeading h2 {
  font-size: 45px;
}
h5 {
  text-decoration: underline;
  font-weight: bolder;
}

h6 {
  font-size: 18px;
  font-weight: bolder;
}

.time {
  font-style: italic;
}

.leftSide {
  text-align: center;
}

.signatureFour {
  padding-top: 15px;
  text-align: center;
  color: #0f3057;
  width: 100%;
  opacity: 60%;
}

/* style for contact me page */

.contactContainer {
  text-align: center;
  margin-top: 5%;
  font-family: "Didact Gothic", sans-serif;
  position: relative;
  padding-top: 5px;
}

.contact {
  position: fixed;
  bottom: 170px;
  left: 510px;
  color: black;
}

.contact h1 {
  font-family: "Megrim", cursive;
  padding: 3px;
}

.contact a {
  color: black;
}

.signatureOne {
  text-align: center;
  color: #0f3057;
  width: 100%;
  bottom: 0;
  position: fixed;
  opacity: 60%;
}

.contact i {
  font-size: 20px;
  padding: 5px;
  color: black;
}
