/* style for entire site */

.bio,
.contactContainer,
.resumeContainer,
.projectsContainer,
.introPage,
.enter {
  animation: transitionIn 1s;
  margin-top: 4em;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

nav {
  top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

nav .navLinks {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 1px;
  display: flex;
  margin-left: auto;
  font-family: "Didact Gothic", sans-serif;
  padding-top: 0.5em;
}

.navHaley {
  font-family: "Megrim", cursive;
  font-size: 2.3em;
}

.navLinks a {
  padding-right: 1em;
}

nav a {
  color: black;
}

nav a:hover {
  color: grey;
  text-decoration: none;
}

@media only screen and (max-width: 1025px) {
  .logo a {
    font-size: 1.5em;
  }

  .logo img {
    width: 2em;
  }

  .nav {
    padding-bottom: 1em;
  }

  .navLinks a {
    font-size: 1em;
  }
}

@media only screen and (max-width: 770px) {
  .logo a {
    font-size: 1em;
  }

  .logo img {
    width: 1.5em;
  }

  .navLinks a {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 460px) {
  .logo {
    text-align: center;
  }

  .navLinks a {
    font-size: 0.6em;
    padding-right: 0.5em;
  }

  .navLinks div {
    padding-bottom: 3em;
  }
}
